@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  
  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      color: $color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &--disable {
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      color: $color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &--disable {
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }
}

@media (min-width: 1100px) {
  .pagination {
    &__prev {
      margin-right: 250px;
      text-align: right;
    }
    &__next {
      margin-left: 250px;
      text-align: left;
    }
  }
}
