@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  display: grid;

  &__item {
    color: inherit;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover,
    &:focus {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
      color: inherit;
    }
    font-size: $typographic-small-font-size;
    font-weight: 600;

    &-container {
      padding: 15px;
      display: grid;
      grid-template-areas: 'title title' 'description description';
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    &-title {
      grid-area: title;
      font-size: $typographic-base-font-size * 1.6875;
      margin-bottom: 0;
      @include margin-top(0);
    }

    &-description {
      font-size: $typographic-base-font-size;
      line-height: 1.2;
      grid-area: description;
    }
  }
}

@media (min-width: 576px) {
  .feed {
    &__item {
      margin-left: auto;
      margin-right: auto;

      &-container {
        width: 400px;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .feed {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .feed {
    max-width: 640px;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;

    &__item {
      &-container {
        grid-template-columns: 145px 145px;
        width: 100%;
      }
    }
  }
}
