@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.tags {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 50px 1fr 50px;
  grid-template-areas: '. select .' '. . .' '. button .';

  &__select {
    height: 32px;
    grid-area: select;
  }
  &__button {
    grid-area: button;
  }
}

@media (min-width: 576px) {
  .tags {
    grid-template-columns: 1fr 300px 1fr;
  }
}

@media (min-width: 960px) {
}

@media (min-width: 1100px) {
}
