/** 
 * Generic
 */
* {
  z-index: 1;
}
html {
  font-size: $typographic-root-font-size;
}

body {
  margin: 0;
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(34, 139, 34, 0.0439);
  overflow-x: hidden;
  font-feature-settings: 'kern' 1, 'liga' 1, 'ss01' 1, 'ss04' 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family;
  font-weight: 600;
}

h1 {
  font-size: $typographic-base-font-size * 2.5;
  @include line-height(2);
  @include margin-top(4);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
  @include line-height(1.5);
  @include margin-top(2);
  @include margin-bottom(0.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(0.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(0.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(0.5);
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

hr {
  margin-top: 41px;
  margin-bottom: 12px;
  border-color: $color-base;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1.25px 0 0 0;
  border-radius: 20px;
  width: 100px;
  &:before {
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1.25px 0;
    border-radius: 20px;
  }
}

button {
  z-index: 100;
}
a {
  color: $typographic-link-p-font-color;
  text-decoration: none;
  z-index: 100;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-s-font-color;
  }
}
.feed a {
  color: inherit;
}

b,
strong {
  font-weight: 600;
}

ul {
  @include margin-bottom(1);

  & li {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

p {
  @include line-height(1);
  @include margin-bottom(1);
}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(0.75);
  @include margin-top(0.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -30px !important;
  padding-right: 14px !important;
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: rgba(34, 139, 34, 0.1);
}

.gatsby-highlight .token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: rgba(0, 0, 0, 0);
}

.tags ul {
  height: 600px;
  overflow-y: scroll;
}
iframe {
  width: 100%;
  height: 460px;
  display: flex;
}
.card {
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  position: relative;
  border-radius: 2px;
  transition: all .3s;
  border: 1px solid #e8e8e8;
}