@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 1fr 50px 100px 50px 50px;
    grid-template-areas:
      '. . . . . .'
      'author author author author author author'
      '. . . . . .'
      'container container container container container container'
      'contacts contacts contacts contacts contacts contacts';

    &-container {
      list-style: none;
      padding: 0;
      margin: 0;
      grid-area: container;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &-0 {
        grid-area: categories;
      }
      &-1 {
        grid-area: concepts;
      }
      &-2 {
        grid-area: stuff;
      }
      &-3 {
        grid-area: me;
      }
      &-item {
        padding: 0;
        margin-bottom: 0;

        &:hover:not(:active),
        &:focus:not(:active) {
          a {
            color: $color-base;
          }
          // Thanks to squarespace.
          span div {
            transition-timing-function: cubic-bezier(0.32, 0.94, 0.6, 1);
            transform: scaleX(1);
            width: 100px;
          }
        }
        &-link {
          &:active {
            color: $color-base;
          }
          font-size: $typographic-base-font-size;
          color: $typographic-base-font-color;
          font-weight: normal;
          border: 0;
        }
        // Thanks to squarespace.
        &-container {
          position: relative;
          &-border {
            border-top-style: solid;
            position: absolute;
            right: 0;
            bottom: -3px;
            transform-origin: left;
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
            transform: scaleX(0);
            border-top: 2px solid $color-base;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .menu {
    &__list {
      grid-template-columns: 6fr 1fr 8fr 1fr 2fr;
      grid-template-rows: 100px 1fr 75px;
      grid-template-areas: '. . . . .' 'author . container . contacts' '. . . . .';

      &-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: '. categories . concepts .' '. stuff . me .';
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .menu {
    &__list {
      grid-template-columns: 6fr 1fr 10fr 1fr 3fr 4fr;
      grid-template-rows: 1fr 50px;
      grid-template-areas: 'author . container . contacts .';

      &-container {
        grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'categories . concepts . stuff . me';
      }
    }
  }
}
