@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  max-width: $layout-post-single-width;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  min-height: calc(100vh - 430px);
  padding-left: 15px;
  padding-right: 15px;

  &__title {
    text-align: center;
    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include line-height(2);
    @include margin-top(0);
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    position: relative;
  }
}

@media (min-width: 576px) {
  .page {
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (min-width: 768px) {
  .page {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 992px) {
  .page {
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media (min-width: 992px) {
  .page {
    padding-left: 0;
    padding-right: 0;
    // max-width: $layout-post-width;
  }
}
