@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  grid-area: author;

  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 10px;
    background-clip: padding-box;
  }

  &__title {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin: 0;

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base;
      }
    }
  }
}

@media (min-width: 576px) {
  .author {
    &__title {
      font-size: 40px;
    }
  }
}
